@import "mixins.less";

@calendar-corner: 3px;
@table-border-width: 1px;

.cl {
	font-size: 1em;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;

	.editable-property {
		.transition(~"all 200ms ease");
	}

	table {
		font-size: inherit;
		width: 100%;
		height: 100%;

		table-layout: fixed;

		td, th {
			vertical-align: middle;
			padding: 0;
			margin: 0;
		}
	}

	.cl-horizontal-lines {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top:0;
	}

	.cl-grid {
		height: 100%;
		width: 100%;
	}

	.cl-time-table {
		font-weight: 300;
		color: #939292;

		.cl-left-spacer {
			width: 7.3em;
		}
	}

	.cl-day-table {
		color: #f7f8f8;

		td, th {
			border-left: @table-border-width transparent solid;

			&:first-child {
				border-left: none;
			}
		}

		.cl-header-row .cl-header-cell {
			text-align: center;
			font-weight: 500;

			border-bottom-color: transparent;

			&:first-child .background {
				.border-radius(@calendar-corner 0 0 0);
			}

			&:last-child .background {
				.border-radius(0 @calendar-corner 0 0);
			}

			b {
				font-weight: 900;
			}
		}

		.cl-left-spacer {
			width: 9.2em;
		}

		// Fixes Firefox bug where the child div doesn't stretch to 100% of height of table cell.
		.cl-content-row {
			height: 100%;
		}
	}

	.cl-header-row {
		font-size: 0.75em;
		height: 3.25em;
		letter-spacing: 0.12em;

		.cl-header-cell {
			border-bottom: @table-border-width solid transparent;

			.background {
				padding: 0 1em;
				line-height: 3.25em;
				display: inline-block;
				width: 100%;
			}
		}
	}

	.cl-left-spacer {
		width: 8em;
	}

	.cl-time-label {
		letter-spacing: 0.06em;
		width: 7.25em;
		padding-right: 1em;
		text-align: right;
		font-weight: 400;
	}

	.cl-time-divider {
		width: auto;

		hr {
			height: 0px;
			border-top: @table-border-width transparent solid;
		}
	}

	.cl-entry {
		background-color: #ddd;
		position: absolute;
		border: 1px solid #d6d6d5;
		padding: 5px;
		width: 100%;

		&.mini {
			h1.cl-title {
				display:none;
			}

			h2.cl-desc {
				font-weight: 700;
			}

			h2.cl-loc {
				display:none;
			}

		}

		&.short {
			vertical-align: top;

			h1.cl-title {
				display:none;
			}

			h2.cl-desc {
				font-weight: 700;
				display: inline-block;
			}

			h2.cl-loc {
				font-weight: 500;
				display: inline-block;
			}
		}


		&.regular {
			h1.cl-title {
				margin-bottom: 0;
				display: block;
				min-height: 30%;
				overflow: hidden;
				line-height: 1.1em;
				font-weight: 700;
			}

			h2.cl-loc {
				font-weight: 500;
			}
		}

		&.long {
			h1.cl-title {
				line-height: 1.2em;
				margin-bottom: 0;
				max-height: 86%;
				display: block;
				overflow: hidden;
			}

			h2.cl-loc {
				font-weight: 500;
			}
		}

		.cl-title {
			font-weight: 700;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			line-height: 1.25em;
			font-size: 0.7em;
		}

		.cl-desc {
			letter-spacing: 0.12em;
			font-weight: 500;
			font-size: 0.7em;
			display: inline-block;
			width: 100%;
			margin-bottom: 0;
		}

		h2 {
			margin-top: 0;
			font-size: 0.7em;
		}

		// Selected calendar entry
		&.active {
			z-index: 5;
			.cl-marquee {
				visibility: visible;
				opacity: 1.0;
			}
		}
	}
}