table thead {
	color: #FFFFFF;
	background-color: #C9C8C8;
	font-weight: 300;
	text-transform: uppercase;
}

table th {
	font-weight: 300;
	height: 21px;
	padding-top: 8px;
	.box-sizing(border-box);
}