@import "mixins.less";

.cl {
	font-size: 1em;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;

	.transition(~"background 200ms ease");

	table {
		font-size: inherit;
		width: 100%;
		height: 100%;

		table-layout: fixed;

		td, th {
			vertical-align: middle;
		}
	}

	.cl-horizontal-lines {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top:0;
	}

	.cl-grid {
		height: 100%;
		width: 100%;
	}

	.cl-time-table {
		font-weight: 300;
		color: #939292;
	}

	.cl-day-table {
		color: #f7f8f8;

		.transition(~"color 200ms ease");

		td, th {
			border-left: 1px #f7f7f7 solid;

			&:first-child {
				border-left: none;
			}
		}

		// Fixes Firefox bug where the child div doesn't stretch to 100% of height of table cell.
		.cl-content-row {
			height: 100%;
		}
	}

	.cl-header-row {
		height: 2.5em;
		letter-spacing: 2px;

		.cl-header-cell {
			background-color: #c9c9ca;
			font-weight: 300;
			padding-right: 1.2em;
			text-align: right;
			font-size: 0.75em;

			.transition(~"background 200ms ease");

			b {
				font-weight: 700;
			}
		}
	}

	.cl-left-spacer {
		width: 8em;
	}

	.cl-time-label {
		letter-spacing: 1px;
		width: 5.25em;
		padding-right: 1em;
		text-align: right;
	}

	.cl-time-divider {
		width: auto;

		hr {
			height: 0px;
			border-top: 1px #e8e8e8 solid;
		}
	}

	.cl-entry {
		background-color: #ddd;
		position: absolute;
		border: 1px solid #d6d6d5;
		padding: 5px;

		.cl-marquee {
			visibility: hidden;
			position: absolute;
			opacity: 0.0;
			width: 100%;
			height: 100%;
			top: -6px;
			left: -6px;

			padding: 5px;
			border: 1px dashed black;

			.transition(~"all 150ms ease");
			.box-sizing(content-box);
			.border-radius(5px);
		}

		.cl-title {
			font-weight: 700;
			letter-spacing: 1px;
			//text-transform: uppercase;
			line-height: 15px;
		}

		.cl-desc {
			letter-spacing: 1.5px;
			font-weight: 500;
			font-size: 0.8em;
			margin-top: 8px;
			display: inline-block;
		}

		h2:last-child {
			margin-left: 10px;
		}

		// Selected calendar entry
		&.active {
			z-index: 5;

			.cl-marquee {
				visibility: visible;
				opacity: 1.0;
			}
		}
	}
}