@import "mixins.less";

.dropdown {
	&.active {
		.arrow {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid #727272;
		}
	}

	.arrow {
		float: right;
		top: 3px;
		position: relative;
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;

		border-bottom: 4px solid transparent;
		border-top: 4px solid transparent;
		border-left: 4px solid #727272;
	}

	.dd-header {

	}

	.dd-options-container {
		.dd-options-list {
			.dd-option {

			}
		}
	}
}

div.dropdown {
	display: inline-block;
	background-color: #e2e2e2;
	padding: 6px 9px;
	width: 108px;
	font-size: 0.7em;
	letter-spacing: 1px;
	font-weight: 400;
	position: relative;
	cursor: pointer;
	margin-left: 125px;

	&:hover {
		background-color: #d3d3d3;
	}

	&.active {

		background-color: #d3d3d3;

		span {
			font-weight: 500;
		}
		ul.terms {
			display: block;
		}

		// .arrow {
		// 	top: 11px;
		// 	left: 90px;
		// }
	}

	// .arrow {
	// 	top: 9.5px;
	// 	left: 92px;
	// }

	ul.terms {
		position: absolute;
		list-style-type: none;
		width: 100%;
		top: 24px;
		left: 0px;

		display: none;

		li {
			background-color: #e2e2e2;
			padding: 6px 9px;

			&:hover {
				background-color: #d7d7d6;
			}
		}
	}
}