@import "mixins.less";

div.dropdown {
	display: inline-block;
	background-color: #e2e2e2;
	padding: 6px 9px;
	width: 120px;
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 300;
	position: relative;

	&.active {
		span {
			font-weight: 500;
		}
		ul.terms {
			display: block;
			border-top: 1px solid #d8d8d8;

		}

		.arrow {
			// pointing down styles
		}
	}

	.arrow {
		// pointing right styles
	}

	ul.terms {
		position: absolute;
		list-style-type: none;
		width: 100%;
		top: 24px;
		left: 0px;

		display: none;

		li {
			background-color: #e2e2e2;
			padding: 6px 9px;
		}
	}
}