complete {
	padding: 25px 20px;
	letter-spacing: 1px;

	h1 {
		font-size: 1.8em;
		font-weight: 500;
	}

	h2 {
		margin: 15px 0 30px;
		font-size: 1.2em;
		font-weight: 300;
	}

	> div {
		padding: 15px 25px;
		background-color: #878787;
		margin-bottom: 15px;
		color: #cccccc;
		font-size: 1em;
		text-align: center;
		cursor: pointer;
		font-weight: 500;

		&:hover {
			background-color: #919191;
		}

		&:active {
			background-color: #999;
		}
	}
}
