// SEARCH BOX

section.searchbox {
	background-color: #FFFFFF;
	padding: 6px 9px;
	width: 135px;
	font-size: 0.85em;
	letter-spacing: 1px;
	font-weight: 300;
	margin-left: 10px;
	.box-sizing(border-box);
}

input.searchbox {
	display: inline-block;
	border-style: none;
	height: 24px;
	font-family: 'Lato';
	font-size: 0.85em;
	letter-spacing: 0.5px;
	padding-left: 10px;
	width: 194px;
	margin-top: 15px;
	.border-radius(2px);
	color: #727272;
}

input.searchbutton {
	border-style: none;
	display: inline-block;
	height: 2.5em;
	width: 6.3em;
	font-family: 'Lato';
	font-size: 0.75em;
	letter-spacing: 0.1em;
	color: #5b5b5b;
	cursor: pointer;
	margin-left: 5px;
	background-color: #9fccd6;
	box-shadow: 0 1px 0.3px #8aadb2;
	.border-radius(2px);
	.transition(~"all 250ms ease");

	&:hover {
		background-color: #c6d9db;
		top: 2px;
		position: relative;
		box-shadow: inset 0 1.3px 1px #8aadb2;
	}
}


// END SEARCH BOX


.class-search {
	div {
		.dropdown;
	}

	.dropdown {
		margin-left: 125px;

		ul.terms {
			top: 26px;
			left: 0;
		}
	}
}

.course-results-list {
	height: 15.7em;
	overflow: auto;
	width: 21em;
	margin-top: 1.2em;
}

.class-added-list {
	height: 15em;
	width: 21em;
	overflow: auto;
	margin-top: 1.2em;

	.class-added-entry {
		display: block;
		background-color: #d1d1d1;
		width: 23em;
		display: block;
		font-size: 0.85em;
		font-weight: 500;
		margin-top: 20px;

		.transition(~"all 400ms ease");
		.box-sizing(border-box);

		&:first-child {
			margin-top: 0;
		}

		span {
			display: table-cell;
		}

		.remove {
			font-size: 1.4em;
			font-weight: 700;
			text-align: center;
			position: relative;
			top: 1px;
			padding: 2px;
			background-color: white;
			border-radius: 10px;
			cursor: pointer;
			.transition(~"all 300ms ease");

			&:hover {
				background-color: #9fccd6;
				color: #515151;
			}
		}
	}
}
