// Sidebar styles

.sidebar-group {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 23.2em;
	height: 100%;
	background-color: #EFEFEF;
	border-right: 1px solid #D8D8D8;
	font-weight: 300;

	.sidebar-slider {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.sidebar {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;

		display: none;
		opacity: 0;

		.dropdown {
			li {
				list-style: none;
				.box-sizing(border-box);
			}
		}

		.group-container {
			padding-bottom: 5em;
		}
	}

	.sidebar-section-group {
		padding: 1.7em 1.3em;
		max-height: 100%;
		overflow: auto;

		.divider;

		&:first-child {
			border-top: none;
			padding-bottom: 1.7em;
		}
	}

	.dropdown-list-entry {
		font-size: 0.85em;
		font-weight: 500;
		margin-top: 1.7em;
		list-style: none;

		&:first-child {
			margin-top:0;
		}
	}

	.heading-1 {
		padding: 1em;
		background-color: #d1d1d1;
		width: 23em;
		cursor: pointer;
		.transition(~"all 400ms ease");

		&:hover {
			background-color: #9fccd6;
			color: #5b5b5b;
		}
	}

	.heading-2 {
		padding: 1em;
		width: 20.6em;
		background-color: #e2e2e2;
		cursor: pointer;

		&:hover {
			background-color: #c6d9db;
			color: #5b5b5b;
		}
	}

	.heading-3 {
		background-color: #f4f4f4;
		width: 18.5em;

		.text {
			display: table-cell;

			&:first-child {
				width: 3.45em;
			}

			&.add {
				font-size: 1.2em;
				font-weight: 900;
				text-align: right;
			}
		}

		&.clickable {
			cursor: pointer;

			&:hover {
				background-color: #dfeeef;
			}
		}
	}

	.button-navigation-group {
		padding: 1.5em 3.5em 0 2.5em;
		width: 100%;
		display: block;

		span {
			padding: 6px;
			background-color: #9fccd6;
			color: #515151;
			font-size: 0.85em;
			letter-spacing: 0.1em;
			cursor: pointer;
			font-weight: 500;
			box-shadow: 0 1px 0.3px #8aadb2;

			.border-radius(2px);
			.transition(~"all 250ms ease");

			&:hover {
				background-color: #c6d9db;
				top: 1px;
				position: relative;
				box-shadow: inset 0 1.3px 1px #8aadb2;
			}

			&:first-child {
				float: left;
				}

			&:last-child {
				float: right;
			}

			&.reset {
				background-color: #e2c9c9;
				box-shadow: 0 1px 0.3px #c1b0b0;

				&:hover {
					background-color: #e8d9d9;
					top: 1px;
					position: relative;
					box-shadow: inset 0 1.3px 1px #c1b0b0;
				}
			}
		}
	}
}

.table-three {
	display: table;
	width: 100%;
	padding: 0.85em 1.09em;

}
