// SEARCH BOX

section.searchbox {
	background-color: #FFFFFF;
	padding: 6px 9px;
	width: 135px;
	font-size: 0.85em;
	letter-spacing: 1px;
	font-weight: 300;
	margin-left: 10px;
	.box-sizing(border-box);
}

input.searchbox {
	display: inline-block;
	border-style: none;
	height: 24px;
	font-family: 'Lato';
	font-size: 0.85em;
	letter-spacing: 0.5px;
	padding-left: 10px;
	width: 194px;
	margin-top: 15px;
}

input.searchbutton {
	border-style: none;
	display: inline-block;
	height: 26px;
	width: 75px;
	font-family: 'Lato';
	font-size: 0.7em;
	letter-spacing: 0.7px;
	color: #727272;
	cursor: pointer;
	margin-left: 5px;
	background-color: #e2e2e2;

	&:hover {
		background-color: #d3d3d3;
	}
}


// END SEARCH BOX


.class-search {
	height: 110px;

	div {
		.dropdown;
	}

	.dropdown {
		margin-left: 125px;

		ul.terms {
			top: 26px;
			left: 0;
		}
	}
}

.course-results-list {
	min-height: 300px;
}

.class-added-list {
	max-height: 300px;

	.class-added-entry {
		display: block;
		background-color: #d1d1d1;
		padding: 12px;
		width: 100%;
		display: block;
		cursor: pointer;
		font-size: 0.85em;
		font-weight: 500;
		margin-top: 20px;

		.box-sizing(border-box);

		&:hover {
			background-color: #c4c4c4;
		}

		span {
			padding-right: 20px;
		}

		.action {
			float: right;
			left: 20px;
			position: relative;
			font-size: 1.2em;
			font-weight: 900;
		}
	}
}
