.color-indicator {
	display: inline-block;
	border-radius: 50%;
	width: 1em;
	height: 1em;

	padding: 0;
	margin-left: 0.75em;

	&:first-child {
		margin-left: 0;
	}
}

// .white-circle {
// 	background-color: #fff;
// 	display: block;
// 	float: right;
// 	position: relative;
// 	bottom: 1px;
// 	.circle;
// }

// .navy-circle {
// 	background-color: #3f4299;
// 	display: block;
// 	float: right;
// 	position: relative;
// 	bottom: 1px;
// 	.circle;
// }

// div.course {
// 	background-color: #d1d1d1;
// 	width: 275px;
// 	padding: 10px;
// 	font-weight: 400;
// 	font-size: 0.85em;
// 	margin-top: 20px;

// 	.arrow {
// 		left: 260px;
// 		top: 13px;
// 	}
// }

// ul {
// 	font-size: 0.85em;
// 	font-weight: 500;
// 	margin-top: 20px;

// 	& > span {
// 		background-color: #d1d1d1;
// 		padding: 12px;
// 		width: 270px;
// 		display: block;
// 		cursor: pointer;

// 		&:hover {
// 			background-color: #c4c4c4;
// 		}

// 		> .open-arrow {
// 			float: right;
// 			top: 3px;
// 			position: relative;
// 			width: 0;
// 			height: 0;
// 			border-left: 4px solid transparent;
// 			border-right: 4px solid transparent;
// 			border-top: 4px solid #727272;
// 			font-size: 0;
// 			line-height: 0;
// 		}
// 	}

// 	ul {
// 		span {
// 			padding: 12px;
// 			display: block;
// 			width: 245px;
// 			background-color: #e2e2e2;
// 			cursor: pointer;

// 			&:hover {
// 				background-color: #dbdbdb;
// 			}

// 			> .open-arrow {
// 				float: right;
// 				top: 3px;
// 				position: relative;
// 				width: 0;
// 				height: 0;
// 				border-left: 4px solid transparent;
// 				border-right: 4px solid transparent;
// 				border-top: 4px solid #727272;
// 				font-size: 0;
// 				line-height: 0;
// 			}

// 			> .close-arrow {
// 				float: right;
// 				top: 3px;
// 				position: relative;
// 				width: 0;
// 				height: 0;
// 				border-bottom: 4px solid transparent;
// 				border-top: 4px solid transparent;
// 				border-left: 4px solid #727272;
// 				font-size: 0;
// 				line-height: 0;
// 			}
// 		}

// 		> li {
// 			list-style: none;

// 			> span {
// 				background-color: #f4f4f4;
// 				padding: 10px;
// 				display: inline-block;
// 				cursor: pointer;

// 				> span {
// 					padding-right: 0;
// 				}

// 				&:hover {
// 					background-color: #ededed;
// 				}
// 			}
// 		}
// 	}
// }