@import "mixins.less";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Lato';
	font-size: 14px;
	color: #727272;
	font-weight: 400;
}

.position-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.topbar {
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	width: 100%;
	padding: 16px 20px;
	background-color: #E2E2E2;
	font-size: 1.1em;
	min-width: 675px;
	.divider
}

.content {
	padding-top: 50px;
	height: 100%;
	width: 100%;
}

.divider {
	border-bottom: 1px solid #D8D8D8;
}

a, .logo {
	color: #5B5B5B;
 	letter-spacing: 4px;
 	text-decoration: none;
}

ol.steps {
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 0.85em;
	color: #848484;
	display: inline;
	list-style: decimal;
	margin-left: 210px;

	li {
		display: inline;
		list-style: decimal;
		margin-left: 60px;
	}

}

// SEARCH BOX

section.searchbox {
	background-color: #FFFFFF;
	padding: 6px 9px;
	width: 135px;
	font-size: 0.85em;
	letter-spacing: 1px;
	font-weight: 300;
	display: inline-block;
	margin-left: 10px;
	.box-sizing(border-box);
}

// END SEARCH BOX


section.classes {
	position: absolute;
	left: 0;
	width: 325px;
	height: 100%;
	background-color: #EFEFEF;
	border-right: 1px solid #D8D8D8;
	font-weight: 300;
}

article.classes-search {
	padding: 28px 17px;
	height: 74px;

	.divider
}

article.classes-results {
	padding: 17px 18px;
}

section.preview {
	padding: 2.5em 1em 1em 350px;

	height: 100%;

	.preview-container {
		width: 100%;
		height: 100%;

		position: relative;

		padding-top: 2em;
	}

	.preview-title {
		font-weight: 300;
		letter-spacing: 1px;

		position: absolute;
		left: 0;
		top: 0;
	}
}
