<!DOCTYPE HTML>

<html>
	<header>
		<link type="text/css" rel="stylesheet" href="css/reset.css" />
		<link type="text/css" rel="stylesheet" href="css/style.css" />
		<link type="text/css" rel="stylesheet" href="css/calendar.css" />
		<link type="text/css" rel="stylesheet" href="css/dropdown.css" />

		<title>Project Pinecone</title>
	</header>
	<body>
		<section class="topbar">
			<span class="logo"><a href="#">PROJECT PINECONE</a></span>
			<ol id="sectionIndicatorGroup" class="steps">
				<li id="addSectionIndicator" class="indicator">1. ADD</li>
				<li id="customizeIndicator" class="indicator">2. CUSTOMIZE</li>
				<li id="printIndicator" class="indicator">3. PRINT</li>
			</ol>
		</section>
		<section class="content">
	        <div class="position-container">
	        	<nav id="sidebarGroup" class="sidebar-group">
	        		<section id="sidebarSlider" class="sidebar-slider">
						<section id="addSectionSidebar" class="sidebar classes">
							<article class="classes-search">
							<!--insert search engine stuffs-->

								<div class="dropdown">
									<span>SELECT TERM</span>
									<span class="arrow"></span>
									<ul class="terms">
										<li>WINTER 2014</li>
										<li>SPRING 2014</li>
										<li>FALL 2014</li>
									</ul>
								</div>

								<input id="sectionSearchBox" class="searchbox" placeholder="Find courses">
								<input id="sectionSearchButton" type="button" value="Go">

							</article>
							<article class="classes-results">
							<!--insert search engine stuffs--> Results
							</article>
						</section>
						<section id="customizeSidebar" class="sidebar customize">
							<article>customization stuff</article>
						</section>
						<section id="printSidebar" class="sidebar print">
							<article>print stuff</article>
						</section>
					</section>
				</nav>

				<section class="preview">
					<div class="preview-container">
						<h1 class="preview-title">PREVIEW</h1>
						<section id="scheduleContainer" class="calendar">
						</section>
					</div>
				</section>
            </div>
		</section>

		<script id="templateCalendar" type="text/template">
			<section id="scheduleContainer" class="calendar">
				<div class="cl-horizontal-lines">
					<table id="lineTable">
						<tr class="cl-header-row">
							<th class="cl-time-label"></th>
							<th class="cl-time-divider"></th>
						</tr>
						<% for (var i = 0; i < labels.length; i++) { %>
							<tr class="cl-content-row">
								<td class="cl-time-label"><%= labels[i] %></td>
								<td class="cl-time-divider"><hr></td>
							</tr>
						<% } %>
					</table>
				</div>
				<div class="cl-grid">
					<table>
						<tr class="cl-header-row">
							<th class="cl-header-cell cl-left-spacer"></th>
							<th class="cl-header-cell"><b>SUN</b>DAY</th>
							<th class="cl-header-cell"><b>MON</b>DAY</th>
							<th class="cl-header-cell"><b>TUE</b>SDAY</th>
							<th class="cl-header-cell"><b>WED</b>NESDAY</th>
							<th class="cl-header-cell"><b>THU</b>RSDAY</th>
							<th class="cl-header-cell"><b>FRI</b>DAY</th>
							<th class="cl-header-cell"><b>SAT</b>URDAY</th>
						</tr>
						<tr class="cl-content-row">
							<td></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
							<td class="cl-content-cell"><div class="position-container"></div></td>
						</tr>
					</table>
				</div>
			</section>
		</script>

		<!-- <ul class="add-section-list">
			<% for (var i = 0; i < sections.length; i++) { %>
			<li class="sl-entry">
				<span><%= sections[i].
			</li>
			<% } %>
		</ul> -->
		<script id="templateAddSectionSidebar" type="text/template">
		</script>

		<script id="templateCalendarEntry" type="text/template">
			<article class="cl-entry">
				<h1 class="cl-title"><%= name %></h1>
				<h2 class="cl-desc"><%= subject %> <%= catalog %> - <%= section %> <%= type %></h2>
				<h2 class="cl-desc"><%= location["building"] %> <%= location["room"] %></h2>
			</article>
		</script>

		<script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="lib/underscore.min.js"></script>
		<script type="text/javascript" src="lib/backbone.min.js"></script>
		<script type="text/javascript" src="lib/fullproof.min.js"></script>
		<script type="text/javascript" src="lib/sprintf.min.js"></script>


		<script type="text/javascript" src="js/scheduler.js"></script>
		<script type="text/javascript" src="js/views/Sidebar.js"></script>
		<script type="text/javascript" src="js/views/SidebarGroup.js"></script>
		<script type="text/javascript" src="js/views/AddSectionSidebar.js"></script>
		<script type="text/javascript" src="js/views/AddSectionList.js"></script>
		<script type="text/javascript" src="js/views/CalendarEntry.js"></script>
		<script type="text/javascript" src="js/views/CalendarEntryGroup.js"></script>
		<script type="text/javascript" src="js/views/Calendar.js"></script>
		<script type="text/javascript" src="js/models/RestModels.js"></script>
		<script type="text/javascript" src="js/models/ClassData.js"></script>
		<script type="text/javascript" src="js/entrypoint.js"></script>
		<script type="text/javascript" src="js/dropdown.js"></script>


	</body>
</html>