<html lang="en">
	<head prefix="og: http://ogp.me/ns#">
		<meta property="fb:app_id" content="{{= appId }}" />
		<meta property="og:title" content="{{= title }}" />
		<meta property="og:type" content="{{= type }}" />
		<meta property="og:site_name" content="{{= siteName }}" />
		<meta property="og:url" content="{{= url }}" />
		<meta property="og:description" content="{{= desc }}" />
		<meta property="og:image" content="{{= imgSrc }}" />
		<title>Schedule</title>
	</head>
	<body>
		<img src="{{= imgSrc }}">
	</body>
</html>