<html>
	<head>
		<meta property="og:app_id" content="{{= appId }}" />
		<meta property="og:site_name" content="{{= siteName }}" />
		<meta property="og:title" content="{{= title }}" />
		<meta property="og:url" content="{{= url }}" />
		<meta property="og:description" content="{{= desc }}" />
		<meta property="og:image" content="{{= imgSrc }}" />
	</head>
	<body>
		<img src="{{= imgSrc }}">
	</body>
</html>