/* Webfont: Lato-Black */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-Black.eot");
  src: url("/fonts/svg/lato-black.svg") format("svg"), url("/fonts/woff/Lato-Black.woff") format("woff"), /* Modern Browsers */ url("/fonts/eot/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/ttf/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-BlackItalic.eot");
  src: url("/fonts/svg/lato-blackitalic.svg") format("svg"), url("/fonts/woff/Lato-BlackItalic.woff") format("woff"), /* Modern Browsers */ url("/fonts/eot/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/ttf/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-Bold */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-Bold.eot");
  src: url("/fonts/svg/lato-bold.svg") format("svg"), url("/fonts/eot/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/woff/Lato-Bold.woff") format("woff"), /* Modern Browsers */ url("/fonts/ttf/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-BoldItalic.eot");
  src: url("/fonts/svg/lato-bolditalic.svg") format("svg"), url("/fonts/eot/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/woff/Lato-BoldItalic.woff") format("woff"), /* Modern Browsers */ url("/fonts/ttf/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-Hairline */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-Hairline.eot");
  src: url("/fonts/svg/lato-hairline.svg") format("svg"), url("/fonts/woff/Lato-Hairline.woff") format("woff"), /* Modern Browsers */ url("/fonts/eot/Lato-Hairline.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/ttf/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-HairlineItalic.eot");
  src: url("/fonts/svg/lato-hairlineitalic.svg") format("svg"), url("/fonts/eot/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/woff/Lato-HairlineItalic.woff") format("woff"), /* Modern Browsers */ url("/fonts/ttf/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-Light */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-Light.eot");
  src: url("/fonts/svg/lato-light.svg") format("svg"), url("/fonts/woff/Lato-Light.woff") format("woff"), /* Modern Browsers */ url("/fonts/eot/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/ttf/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-LightItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-LightItalic.eot");
  src: url("/fonts/svg/lato-lightitalic.svg") format("svg"), url("/fonts/eot/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/woff/Lato-LightItalic.woff") format("woff"), /* Modern Browsers */ url("/fonts/ttf/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-Regular */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-Regular.eot");
  src: url("/fonts/svg/lato-regular.svg") format("svg"), url("/fonts/woff/Lato-Regular.woff") format("woff"), /* Modern Browsers */ url("/fonts/eot/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/ttf/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/eot/Lato-Italic.eot");
  src: url('/fonts/svg/lato-italic.svg') format('svg'), url("/fonts/woff/Lato-Italic.woff") format("woff"), /* Modern Browsers */ url("/fonts/eot/Lato-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/ttf/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/**
 * Common styles
 */
.position-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.cl {
  font-size: 1em;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
}
.cl table {
  font-size: inherit;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.cl table td,
.cl table th {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.cl .cl-horizontal-lines {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cl .cl-grid {
  height: 100%;
  width: 100%;
}
.cl .cl-time-table {
  font-weight: 300;
  color: #939292;
}
.cl .cl-day-table {
  color: #f7f8f8;
  transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
}
.cl .cl-day-table td,
.cl .cl-day-table th {
  border-left: 1px #f7f7f7 solid;
}
.cl .cl-day-table td:first-child,
.cl .cl-day-table th:first-child {
  border-left: none;
}
.cl .cl-day-table .cl-header-row .cl-header-cell {
  font-weight: 300;
  text-align: right;
  font-size: 0.75em;
  font-weight: 500;
  transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
}
.cl .cl-day-table .cl-header-row .cl-header-cell:first-child .background {
  border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
}
.cl .cl-day-table .cl-header-row .cl-header-cell:last-child .background {
  border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
}
.cl .cl-day-table .cl-header-row .cl-header-cell b {
  font-weight: 900;
}
.cl .cl-day-table .cl-header-row .cl-header-cell .background {
  background-color: #c9c9ca;
  padding: 1em;
}
.cl .cl-day-table .cl-left-spacer {
  width: 9.2em;
}
.cl .cl-day-table .cl-content-row {
  height: 100%;
}
.cl .cl-header-row {
  height: 2.5em;
  letter-spacing: 0.12em;
  border-radius: 2px;
}
.cl .cl-left-spacer {
  width: 8em;
}
.cl .cl-time-label {
  letter-spacing: 0.06em;
  width: 5.25em;
  padding-right: 1em;
  text-align: right;
  font-weight: 400;
}
.cl .cl-time-divider {
  width: auto;
}
.cl .cl-time-divider hr {
  height: 0px;
  border-top: 1px #e8e8e8 solid;
}
.cl .cl-entry {
  background-color: #ddd;
  position: absolute;
  border: 1px solid #d6d6d5;
  padding: 5px;
}
.cl .cl-entry .cl-marquee {
  visibility: hidden;
  position: absolute;
  opacity: 0.0;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  padding: 5px;
  border: 1px dashed black;
  transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cl .cl-entry .cl-title {
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 15px;
}
.cl .cl-entry .cl-desc {
  letter-spacing: 0.08em;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 8px;
  display: inline-block;
}
.cl .cl-entry h2:last-child {
  margin-left: 10px;
}
.cl .cl-entry.active {
  z-index: 5;
}
.cl .cl-entry.active .cl-marquee {
  visibility: visible;
  opacity: 1.0;
}
.dropdown .dd-header {
  letter-spacing: 1px;
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
.dropdown .dd-header.active {
  color: #5b5b5b;
}
.dropdown .dd-header.active .arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dropdown .dd-header .arrow {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #727272;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: 50%;
  margin-top: -4px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
.dropdown .dd-header .indicator {
  float: right;
  position: relative;
  height: 1em;
}
.dropdown .dd-options-container {
  position: relative;
}
.sidebar-group {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 325px;
  height: 100%;
  background-color: #EFEFEF;
  border-right: 1px solid #D8D8D8;
  font-weight: 300;
}
.sidebar-group .sidebar-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.sidebar-group .sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  opacity: 0;
}
.sidebar-group .sidebar .dropdown li {
  list-style: none;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sidebar-group .sidebar-section-group {
  padding: 24px 18px;
  border-top: 1px solid #D8D8D8;
}
.sidebar-group .sidebar-section-group:first-child {
  border-top: none;
}
.sidebar-group .customizeSectionDropdownList {
  margin-top: 1.2em;
}
.sidebar-group .dropdown-list-entry {
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 1.7em;
  list-style: none;
}
.sidebar-group .dropdown-list-entry:first-child {
  margin-top: 0;
}
.sidebar-group .heading-1 {
  padding: 12px;
  background-color: #d1d1d1;
  width: 270px;
  cursor: pointer;
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
}
.sidebar-group .heading-1:hover {
  background-color: #9fccd6;
  color: #5b5b5b;
}
.sidebar-group .heading-2 {
  padding: 12px;
  width: 245px;
  background-color: #e2e2e2;
  cursor: pointer;
}
.sidebar-group .heading-2:hover {
  background-color: #c6d9db;
  color: #5b5b5b;
}
.sidebar-group .heading-3 {
  background-color: #f4f4f4;
  width: 220px;
  padding: 10px 12px;
}
.sidebar-group .heading-3 .search-result {
  display: table;
  width: 100%;
}
.sidebar-group .heading-3 .text {
  display: table-cell;
}
.sidebar-group .heading-3 .text:first-child {
  width: 3.45em;
}
.sidebar-group .heading-3 .text.action {
  font-size: 1.2em;
  font-weight: 900;
  text-align: right;
}
.sidebar-group .heading-3.clickable {
  cursor: pointer;
}
.sidebar-group .heading-3.clickable:hover {
  background-color: #dfeeef;
}
section.searchbox {
  background-color: #FFFFFF;
  padding: 6px 9px;
  width: 135px;
  font-size: 0.85em;
  letter-spacing: 1px;
  font-weight: 300;
  margin-left: 10px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input.searchbox {
  display: inline-block;
  border-style: none;
  height: 24px;
  font-family: 'Lato';
  font-size: 0.85em;
  letter-spacing: 0.5px;
  padding-left: 10px;
  width: 194px;
  margin-top: 15px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #727272;
}
input.searchbutton {
  border-style: none;
  display: inline-block;
  height: 2.5em;
  width: 6.3em;
  font-family: 'Lato';
  font-size: 0.75em;
  letter-spacing: 0.7px;
  color: #727272;
  cursor: pointer;
  margin-left: 5px;
  background-color: #d1d1d1;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
}
input.searchbutton:hover {
  background-color: #9fccd6;
  color: #5b5b5b;
}
.class-search div {
  margin-left: 125px;
}
.class-search div ul.terms {
  top: 26px;
  left: 0;
}
.class-search .dropdown {
  margin-left: 125px;
}
.class-search .dropdown ul.terms {
  top: 26px;
  left: 0;
}
.course-results-list {
  height: 21.5em;
  overflow: auto;
  width: 20.9em;
  margin-top: 1.2em;
}
.class-added-list {
  max-height: 300px;
}
.class-added-list .class-added-entry {
  background-color: #d1d1d1;
  padding: 12px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 20px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.class-added-list .class-added-entry:hover {
  background-color: #c4c4c4;
}
.class-added-list .class-added-entry span {
  padding-right: 20px;
}
.class-added-list .class-added-entry .action {
  float: right;
  left: 20px;
  position: relative;
  font-size: 1.2em;
  font-weight: 900;
}
.color-indicator-container {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 0.8em;
}
.color-indicator-container:last-child {
  margin-right: 0;
}
.color-indicator {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  top: 50%;
  left: 50%;
  margin: -0.65em 0 0 -0.65em;
  transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -ms-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}
.palette {
  line-height: 2.1em;
}
.palette .color-indicator-container {
  width: 1.25em;
  height: 1.25em;
}
.palette .color-indicator-container.active .color-indicator {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
.palette .color-indicator {
  cursor: pointer;
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
.palette .color-indicator:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
.sidebar.print {
  padding: 25px 20px;
  letter-spacing: 1px;
}
.sidebar.print h1 {
  font-size: 1.8em;
  font-weight: 500;
}
.sidebar.print h2 {
  margin: 15px 0 30px;
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: #8e8e8e;
  font-weight: 400;
}
.sidebar.print .button {
  padding: 15px 25px;
  background-color: #878787;
  margin-bottom: 15px;
  color: #cccccc;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}
.sidebar.print .button:hover {
  background-color: #919191;
  color: white;
}
.sidebar.print .button:active {
  background-color: #999;
}
.sidebar.print .button.share {
  background-color: #4063A0;
}
.sidebar.print .button.share span {
  display: inline-block;
  vertical-align: middle;
}
.sidebar.print .button.share .fb-logo {
  background-image: url("https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/LVx-xkvaJ0b.png");
  background-size: auto;
  background-repeat: no-repeat;
  height: 14px;
  width: 14px;
  background-position: 0 -42px;
}
.sidebar.print .button.share .label {
  margin-left: 0.2em;
  position: relative;
  top: 1px;
}
.sidebar.print .button.share:hover {
  background-color: #4F77B2;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  min-width: 1300px;
  min-height: 700px;
}
body {
  font-family: 'Lato';
  font-size: 14px;
  color: #727272;
  font-weight: 400;
}
h1 {
  font-weight: 700;
  font-size: 0.89em;
  letter-spacing: 0.7px;
  display: inline;
  margin-bottom: 30px;
}
h2 {
  margin-top: 2.8em;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.9px;
}
.topbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 15px 20px;
  background-color: #E2E2E2;
  font-size: 1.05em;
  font-weight: 400;
  border-top: 1px solid #D8D8D8;
}
.content {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}
.divider {
  border-top: 1px solid #D8D8D8;
}
a,
.logo {
  color: #727272;
  letter-spacing: 2.3px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  text-shadow: 0 1px 0px white;
}
ol.steps {
  font-weight: 400;
  letter-spacing: 1.7px;
  font-size: 0.85em;
  color: #848484;
  display: inline;
  list-style: decimal;
  margin-left: 0.65em;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
  bottom: 1px;
}
ol.steps li {
  display: inline;
  list-style: decimal;
  margin: 0 60px;
  cursor: pointer;
  padding: 6px;
  bottom: 1.5px;
  position: relative;
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
ol.steps li.active {
  color: #515151;
  background-color: #9fccd6;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
ol.steps li:hover {
  color: #515151;
  background-color: #c6d9db;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
section.preview {
  padding: 24px 18px 17px 350px;
  height: 100%;
}
section.preview .preview-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 2em;
}
section.preview .preview-title {
  position: absolute;
  left: 0;
  top: 0;
}
