/* Webfont: Lato-Black */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-BlackItalic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Bold */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Hairline */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-Hairline.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-HairlineItalic.woff") format("woff");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Light */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-LightItalic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/woff/Lato-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
/**
 * Common styles
 */
.position-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.cl {
  font-size: 1em;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
}
.cl table {
  font-size: inherit;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.cl table td,
.cl table th {
  vertical-align: middle;
}
.cl .cl-horizontal-lines {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cl .cl-grid {
  height: 100%;
  width: 100%;
}
.cl .cl-time-table {
  font-weight: 300;
  color: #939292;
}
.cl .cl-day-table {
  color: #f7f8f8;
  transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
}
.cl .cl-day-table td,
.cl .cl-day-table th {
  border-left: 1px #f7f7f7 solid;
}
.cl .cl-day-table td:first-child,
.cl .cl-day-table th:first-child {
  border-left: none;
}
.cl .cl-day-table .cl-header-row {
  background-color: #c9c9ca;
}
.cl .cl-day-table .cl-header-row .cl-header-cell {
  font-weight: 300;
  padding-right: 1.2em;
  text-align: right;
  font-size: 0.75em;
  transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
}
.cl .cl-day-table .cl-header-row .cl-header-cell b {
  font-weight: 700;
}
.cl .cl-day-table .cl-content-row {
  height: 100%;
}
.cl .cl-header-row {
  height: 2.5em;
  letter-spacing: 0.12em;
}
.cl .cl-left-spacer {
  width: 8em;
}
.cl .cl-time-label {
  letter-spacing: 0.06em;
  width: 5.25em;
  padding-right: 1em;
  text-align: right;
}
.cl .cl-time-divider {
  width: auto;
}
.cl .cl-time-divider hr {
  height: 0px;
  border-top: 1px #e8e8e8 solid;
}
.cl .cl-entry {
  background-color: #ddd;
  position: absolute;
  border: 1px solid #d6d6d5;
  padding: 5px;
}
.cl .cl-entry .cl-marquee {
  visibility: hidden;
  position: absolute;
  opacity: 0.0;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  padding: 5px;
  border: 1px dashed black;
  transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cl .cl-entry .cl-title {
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 15px;
}
.cl .cl-entry .cl-desc {
  letter-spacing: 0.08em;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 8px;
  display: inline-block;
}
.cl .cl-entry h2:last-child {
  margin-left: 10px;
}
.cl .cl-entry.active {
  z-index: 5;
}
.cl .cl-entry.active .cl-marquee {
  visibility: visible;
  opacity: 1.0;
}
body {
  font-family: "Lato";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  overflow: hidden;
}
